<div id="user-posts"
    class="text-sm w-full font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    {{#if posts.length}}
    {{#each posts as | post |}}
    <button type="button" data-id="{{id}}"
        class="dashboard-post-btn flex justify-between items-center py-2 px-4 w-full text-left border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
        {{title}}

        <div class="flex space-x-2">
            <p class="flex items-center font-normal text-gray-700 dark:text-gray-400">{{format_date date_created}}</p>
        </div>
    </button>
    {{/each}}
    {{/if}}
</div>